spring:
  application:
    name: AWS Employee Service
  profiles:
    active: dev  
  main:
    banner-mode: off
server:  port: 8090

---
#JPA config for Postgresql
spring:
   jpa:
     show-sql: true
     database-platform: org.hibernate.dialect.PostgreSQLDialect

---
# AWS RDS props Here we are using Postgres in RDS
#Spring configuration
spring:
  #Datasource configuration
  datasource:
    #driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:postgresql://practicedb.cl3djkyop5su.us-east-1.rds.amazonaws.com:5432/practicedb;
    username: postgres
    password: Sonam123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:      
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  #Datasource configuration ended 
  profiles: ignore
#Spring configuration ended
#logging configuration
logging:
  level:
    com.bhoomi: DEBUG
    org.springframework: ERROR
    org.hibernate.type.descriptor.sql.BasicBinder: ERROR 
  file: logs\application.log
  pattern:
    console: "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
    file: "%d %p %c{1.} [%t] %m%n"
#logging configuration ended
---

#Spring configuration
spring:
  profiles: dev
#Spring configuration ended
#Mail props
  mail:
    host: gmail.smtp
    port: 25
    username: demo@demo.com
    #properties.smtp.auth=true
    #properties.smtp.starttls.enable=true
#Mail Props end
#Actuator Props
management:  endpoints:    web:      exposure:        include: "*"
  endpoint:
    health:
      show-details: always
#Actuator Props end

---

#Spring configuration
spring:  
  profiles: test
#Spring configuration ended

---


#Spring configuration
spring:
  
  profiles: prod
#Spring configuration ended
